@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Roboto+Condensed:wght@700&display=swap');

$first-color: #fff;
$second-color: #5ece7b;
$third-color: #000000;

$hover-color: #eeeeee;

$light-font-weight: 300;
$regular-font-weight: 400;
$medium-font-weight: 500;
$semiBold-font-weight: 600;
$bold-font-weight: 700;

$light-font-size: 1rem;
$regular-font-size: 1.125rem;
$medium-font-size: 1.25rem;
$semiBig-font-size: 1.5rem;
$majorBig-font-size: 1.8rem;
$big-font-size: 2rem;

$box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-weight: $light-font-size;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

@mixin flexCenter($direction, $justification) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justification;
  align-items: center;
}

@mixin media-lg {
  @media screen and (min-width: 1011px) and (min-width: 1284px) {
    @content;
  }
}

@mixin media-min-lg {
  @media screen and (min-width: 1011px) {
    @content;
  }
}

@mixin media-md {
  @media screen and (max-width: 1000px) {
    @content;
  }
}

@mixin media-sm {
  @media screen and (max-width: 500px) {
    @content;
  }
}