.navbar {
  width: 100vw;
  z-index: 2000;
  position: fixed;
  top: 0;
  background: $first-color;
  display: grid;
  place-items: center;

}

nav {
  // @include flexCenter(row, space-between);
  display: grid;
  grid-template-columns: repeat(3, 1fr) auto;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 90%;
  height: 100%;
  background: $first-color;

  // position: sticky;

  ul {
    @include flexCenter(row, space-between);
    max-width: 17rem;

    li {
      margin: 30px 0px;
      padding: 1rem;
      text-transform: uppercase;
      font-weight: 600;
      color: $third-color;
      cursor: pointer;

      &.active-category {
        color: $second-color;
        border-bottom: 2px solid $second-color;
      }

      &:hover {
        color: $second-color;
        opacity: 0.7;
      }
    }
  }

  .nav-brand-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-curr-cart {
    @include flexCenter(row, right);
  }

  .nav-currencies {
    position: relative;

    .currency {
      @include flexCenter(row, center);
      padding: 1.5rem;

      p {
        padding: 0.65rem;
      }
    }

    .nav-currencies-options {
      @include flexCenter(column, center);
      z-index: 1000;
      position: absolute;
      left: -10%;
      background-color: $first-color;
      box-shadow: $box-shadow;

      p {
        padding: 1rem 2rem;
        font-size: $regular-font-size;
        font-weight: $medium-font-weight;

        &:hover {
          background: $hover-color;
        }

        span {
          padding: 3.5px;
        }
      }
    }
  }

  .cart-icon {
    position: relative;

    .cart-icon-amount {
      position: absolute;
      background: $third-color;
      color: $first-color;
      padding: .2rem .4rem;
      border-radius: 50%;
      text-align: center;
      font-weight: $semiBold-font-weight;
      top: -17px;
      left: 10px;
    }
  }
}