.in-cart-icon:hover+a .product {
  box-shadow: $box-shadow;
}

.product-container {
  position: relative;

}

.products {

  transition: all 1s ease;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  justify-content: center;
  align-items: center;
  place-items: center;


  .product {
    display: flex;
    padding: 2rem;
    max-width: 400px;
    flex-direction: column;
    background: var(--dark-blue);
    cursor: pointer;


    &:hover {
      box-shadow: $box-shadow;
    }


  }

  .product-img-container {
    width: 350px;
    height: 300px;
  }

}

.product-outOfStock {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
  font-weight: $regular-font-weight;
}

.products-container h1 {
  padding: 2rem 0;
  text-transform: capitalize;
}

.product-container a {
  color: $third-color;

}

.product-container a {
  color: $third-color;
}

.product-information {
  position: relative;
  font-size: $regular-font-size;
  padding: 1rem 0;
}

.product-information p {
  padding: 0.5rem 0;
}

.product-price {
  font-weight: $medium-font-weight;
}

.in-cart-icon button {
  display: none;
  position: absolute;

  bottom: 60px;
  padding: 1rem;
  border-radius: 50%;
  left: 80%;
  z-index: 1000;
  background-color: $second-color;
  transition: all ease-in 3s;

}

.product-container:hover .in-cart-icon button {
  display: block;

}