// @import 'config';

@include media-lg {

  .primary-image {
    width: 560px;
  }

  .single-product-container {
    gap: 4rem;
  }
}

@include media-md {
  body {
    overflow-x: hidden;
  }

  .nav {
    flex-wrap: wrap;
  }

  .single-product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    // @include flexCenter(column, center);

    .all-images {
      flex-shrink: 1;
      flex-direction: column;
      gap: 0rem;

      .all-images-image {
        flex-direction: row;
        width: auto;
        overflow-x: scroll;
        scrollbar-width: 20px;
        gap: 1rem;
        height: 120px;
        margin: 0;

        .single-product-image {
          min-width: 100px;
          height: 90px;

        }
      }

      .primary-image {
        width: auto;

      }


    }



    .name-attributes {
      flex-wrap: wrap;

      .text-attribute {
        margin-bottom: 0.75rem;
      }

    }
  }




}

@include media-sm {

  nav {
    padding-top: 3rem;
  }

  .nav-curr-cart {

    position: absolute;
    left: 5px;
    top: 7px;
  }

  .nav-brand-logo {
    position: absolute;
    left: 225px;

    top: 29px;
  }

  .mini-cart-container {
    top: 160px;

    header {
      margin-top: 4rem;
    }

    footer {
      margin-bottom: 9rem;
    }
  }

  .remove-cart-overlay {
    display: block;

  }

  .cart-item {
    flex-direction: column;

    .cart-showcase {
      margin-top: 20px;
      height: 260px;
    }
  }

}