button:disabled {
  opacity: 0.6;
}

.single-product-container {
  @include flexCenter(row, initial);
  align-items: flex-start;
  margin: 4rem 0;
  width: 100%;
  height: 100%;
  gap: 3rem;

  ul {
    list-style-type: disc;
  }

  .product-outOfStock {
    top: 0px;
  }
}

.single-product-information {
  @include flexCenter(column, center);
  align-items: flex-start;
  gap: 30px;



}

.titles {

  h1 {
    margin-bottom: .5rem;
    font-weight: $semiBold-font-weight;
    font-size: $majorBig-font-size;
  }

  h3 {
    font-weight: $regular-font-weight;
    font-size: $majorBig-font-size;
  }
}

.all-images {
  display: flex;
  gap: 3rem;
}

.all-images-image {
  @include flexCenter(column, initial);
  gap: 3rem;
  height: 380px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.single-product-image {
  width: 100px;
  height: 90px;
}

.single-product-information {
  margin-bottom: 4rem;


}

.attribute h4,
.price h4 {
  text-transform: uppercase;
  font-weight: $bold-font-weight;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 18px;
  font-size: $medium-font-size;
  margin-bottom: .75rem;
}

.name-attributes {
  display: flex;

  margin: 1rem 0;

  .text-attribute {
    display: inline-flex;

    justify-content: center;
    align-items: center;
    border: 2px solid $third-color;

    min-width: 60px;
    height: 50px;

    margin-right: 0.75rem;

    &.default {
      background-color: black;
      color: white;
    }
  }

  .swatch-default {
    border: $second-color 2px solid;
    margin-right: .2rem;



  }



  .swatch-attribute {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 38px;
    height: 35px;
    padding: 10px;
    margin: .2rem;




    .selected-color {
      border: red;
    }
  }

}

.price {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  .price-info {
    font-size: $semiBig-font-size;
    padding: .5rem 0;

    font-family: 'Raleway', sans-serif;
  }
}

.add-btn {
  background-color: $second-color;
  color: $first-color;
  font-weight: $semiBold-font-weight;
  width: max-content;

  padding: 1rem 6rem;
}

.primary-image {
  position: relative;
  height: 380px;
  width: 430px;
}