@import 'config';
@import 'navbar';
@import 'products';
@import 'singleProduct';
@import 'cart';
@import 'responsive';

body {
  width: 100vw;
  height: 100vh;
  background: $first-color;
  position: relative;
}

main {
  max-width: 85vw;
  margin: auto;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  border: none;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}