@import 'config';
@import 'responsive';
@import 'navbar';
@import 'products';
@import 'singleProduct';
@import 'cart';

body {
  background: $first-color;
}

main {
  max-width: 85vw;
  margin: auto;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  border: none;
}

.hidden {
  visibility: hidden;
}